<footer>
    <div class="social-network">
        <ul *ngFor="let soc of socials">
            <li><img [src]="soc" alt="social"></li>
        </ul>
    </div>
    <div class="description">
        <div class="part">
            <ul>
                <li>Voiceover and Subtitle</li>
                <li>Voice Betting</li>
                <li>Help Center</li>
                <li>Gift Cards</li>
            </ul>
        </div>
        <div class="part">
            <ul>
                <li>Media Center</li>
                <li>Investor Relations</li>
                <li>Job Opportunities</li>
            </ul>
        </div>
        <div class="part">
            <ul>
                <li>Terms of Use</li>
                <li>Privacy</li>
                <li>Legal Provisions</li>
            </ul>
        </div>
        <div class="part">
            <ul>
                <li>Cookie Preferences</li>
                <li>Corporate Information</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <div class="service-code">
        <div class="service-code-btn">
            <p>Service Code</p>
        </div>
    </div>
    <div class="data">
        <div class="inc">
            <p>© 1997-2021 Netflix, Inc.  {{'{'}}i-062d573a0ee099242{{'}'}}</p>
        </div>
    </div>
</footer>   
