<div class="header">
    <img (click)="navigateToMain()" [src]="logoUrl" alt="logo" class="logo w-52">
    <div class="navbar">
        <ul>
            <li>Home Page</li>
            <li>Series</li>
            <li>Movies</li>
            <li>New and Popular</li>
            <li>My List</li>
        </ul>
    </div>
    <div class="profile-list">
        <ul>
            <li><img src="{{searchUrl}}" alt="search"></li>
            <li>{{username}}</li>
            <li><img src="{{giftboxUrl}}" alt="giftbox"></li>
            <li><img src="{{notificationsUrl}}" alt="notifications"></li>
            <li><img class="avatar" src="{{avatarUrl}}" alt="avatar"><img class="down-arrow" src="{{downarrowUrl}}" alt="downarrow"></li>
            
        </ul>
    </div>
</div>  