<div class="all" (click)="checkDetails($event)">
    <div class="main-div">
        <div class="movie-card">
            <div class="card-header" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/'+movie.backdrop_path+')'}">
                <h1>{{movie.title || movie.name}}</h1>
                <div class="btn-wrapper">
                    <button class="play-btn"><img [src]="playBtnUrl" alt="play btn"><p>Play</p></button>
                    <button class="plus-btn btn"><img [src]="plusBtnUrl" alt="plus btn"></button>
                    <button class="like-btn btn"><img [src]="thumbsBtnUrl" alt="thumbs btn"></button>
                    <button class="volume-btn btn"><img [src]="volumeBtnUrl" alt="volume btn"></button>
                </div>
            </div>
            <section>
                <div class="card-description">
                    <p>{{movie.overview}}</p>
                </div>
            </section>

        </div>
    </div>
</div>
