.all {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 99;
    color: white;
    // padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.755);

    .main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    
        .movie-card {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: #141414;
            width: 1000px;
            // -webkit-box-shadow: -0px 30px 30px 35px rgba(20,20,20,1);
            // -moz-box-shadow: 0px 30px 30px 35px rgba(20,20,20,1);
            // box-shadow: 0px 0px 30px 35px rgba(20,20,20,1);

            .card-header {
                background-size: cover;
                width: 1000px;
                min-height: 500px;
                display: flex;
                justify-content: space-around;
                align-items: start;
                flex-direction: column;
                // -webkit-box-shadow: inset -2px -74px 60px 15px rgba(0,0,0,0.91);
                // -moz-box-shadow: inset -2px -74px 60px 15px rgba(0,0,0,0.91);
                // box-shadow: inset -2px -74px 60px 15px rgba(0,0,0,0.91);
                
                h1 {
                    padding : 40px;
                    font-size: 60px;
                    max-width: 50%;
                    background-color: rgba(0, 0, 0, 0.381);
                    border-radius: 5px;
                }

                .btn-wrapper {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 15px;
                    margin: 40px;

                    .play-btn {
                        background-color: white;
                        border-radius: 4px;
                        color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 175px;
                        height: 45px;
                        gap: 15px;
                    }

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        padding: 10px;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 50%;
                        border: 2px solid #ffffffc0;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .volume-btn {
                        margin-left: 550px;
                    }


                }

            }

            section {
                padding: 30px 30px 0px 30px;
                width: 1000px;
                height: 500px;
                color: white;

                .card-description {
                    width: 100%;
                    height: 100%;
                    
                }

                .genres {
                    display: flex;
                    gap: 5px;
                    max-width: 400px;

                    p {
                        width: fit-content;
                    }

                    span {
                        color: gray;
                    }
                }
            }

        }

    
    }
}