.movie-card {
    color: white;
    width: 200px;
    height: 250px;
    transition: ease 0.3s;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    .movie-image {
        width: 200px;
        height: 250px;

    }
}

