<app-header></app-header>
<div class="browse-page">  
    <app-movie-detail  *ngIf="moviesdbService.movDetail"></app-movie-detail>
    <div class="banner-movie-info">
        <img
        *ngIf="!(bannerMovie || bannerMovie.videoKey)"
        class="banner-img"
        [src]="
        domSanitizer.bypassSecurityTrustResourceUrl(
            'https://image.tmdb.org/t/p/w500/' + bannerMovie.videoKey
        )
        "
        alt="banner"
        />
        <iframe
            class="banner-vid"
            *ngIf="bannerMovie && bannerMovie.videoKey"
            id="ytplayer"
            width="100%"
            height="100%"
            frameBorder="0"
            allow="autoplay; encrypted-media"
            [src]="
            domSanitizer.bypassSecurityTrustResourceUrl(
                'https://www.youtube.com/embed/' +
                bannerMovie.videoKey +
                '?mute=1&autoplay=1&controls=0&showinfo=0&loop=1&modestbranding=1&autohide=1&rel=0'
            )
            "
        >
        </iframe>
        <div class="movie-info">
            <h1>{{tvShow[0].original_name}}</h1>
            <p>{{tvShow[0].overview}}</p>
            <div class="buttons-wrapper">
                <button class="play-btn"><img [src]="playBtnUrl" alt="play btn"><p>Play</p></button>
                <button class="info-btn"><img [src]="infoBtnUrl" alt="info btn"><p>More Info</p></button>
            </div>
        </div>
    </div>         
    <div class="movie-categories">
        <app-movie-category [title]="'Top TV Shows'" [movieList]="tvShow"></app-movie-category>
        <app-movie-category [title]="'Top Movies'" [movieList]="trendingMovie"></app-movie-category>
        <app-movie-category [title]="'New on Netflix'" [movieList]="airing"></app-movie-category>
        <app-movie-category [title]="'Coming Next Week'" [movieList]="nextWeek"></app-movie-category>

    </div>                                    
</div>
<app-footer></app-footer>