<app-movie-detail *ngIf="moviesdbService.movDetail"></app-movie-detail>
<app-header></app-header>
<div class="browse-page">

    <div class="banner-movie-info">
        <img *ngIf="!(bannerMovie || bannerMovie.videoKey)"
            class="banner-img"
            [src]="domSanitizer.bypassSecurityTrustResourceUrl('http://image.tmdb.org/t/p/w500/' + bannerMovie.videoKey)" 
            alt="banner">
        <!-- <div class="frame"> -->
        <iframe 
            class="banner-vid"
            *ngIf="bannerMovie && bannerMovie.videoKey"
            id="ytplayer" 
            width="100%"
            height="100%"
            frameBorder="0"
            allow='autoplay; encrypted-media'
            [src]="domSanitizer.bypassSecurityTrustResourceUrl('http://www.youtube.com/embed/'+bannerMovie.videoKey+'?mute=1&autoplay=1&controls=0&showinfo=0&loop=1&modestbranding=1&autohide=1&rel=0&frameborder=0?origin=https://braintool.org')" 
            >
        </iframe>
        <!-- </div> -->
        <div class="movie-info">
            <h1>{{bannerMovie.original_title}}</h1>
            <p>{{bannerMovie.overview}}</p>
            <div class="buttons-wrapper">
                <button [routerLink]="'/Watch'" (click)="getMovieDetails(bannerMovie)" class="play-btn"><img [src]="playBtnUrl" alt="play btn"><p>Play</p></button>
                <!-- <button class="info-btn"><img [src]="infoBtnUrl" alt="info btn"><p>More Info</p></button> -->
            </div>
        </div>
            <!-- <div class="movie-info">&origin=http://example.com
            <h1>{{popularMovie[0].title}}</h1>
            <p>{{popularMovie[0].overview}}</p>
            <div class="buttons-wrapper">
                <button class="play-btn"><img [src]="playBtnUrl" alt="play btn"><p>Play</p></button>
                <button class="info-btn"><img [src]="infoBtnUrl" alt="info btn"><p>More Info</p></button>
            </div>[ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/'+popularMovie[0].backdrop_path+')'}"
        </div> -->
    </div>
    <div class="movie-categories">
        <!-- <app-movie-category [title]="'Popular'" [movieList]="popularMovie"></app-movie-category> -->
        <!-- <app-movie-category [title]="'Now Playing'" [movieList]="nowPlayingMovie"></app-movie-category> -->
        <app-movie-category [title]="'Popular Movies'" [movieList]="popularMovie"></app-movie-category>
        <app-movie-category [title]="'Top Rated Movies'" [movieList]="topRatedMovie"></app-movie-category>
        <app-movie-category [title]="'Trending Movies'" [movieList]="trendingMovie"></app-movie-category>
        <app-movie-category [title]="'Upcoming Movies'" [movieList]="upcomingMovie"></app-movie-category>

        <app-movie-category [title]="'Popular TV Shows'" [movieList]="popularTV"></app-movie-category>
        <app-movie-category [title]="'Trending TV Shows'" [movieList]="trendingTV"></app-movie-category>

        <app-movie-category [title]="'Top Comedies'" [movieList]="comediesTV"></app-movie-category>
    </div>
</div>

<app-footer></app-footer>